<div class="home-cover">
    <div class="animated-title">
        <p><strong><%= __('Félicitations, vous venez de créer') %></strong></p>
        <span class="focus"> <%= __('L\'album de votre') %>
            <div class="rw-words rw-words-1">
                <span><%= __('événement') %></span>
                <span><%= __('mariage') %></span>
                <span><%= __('week-end') %></span>
                <span><%= __('voyage') %></span>
                <span><%= __('soirée') %></span>
                <span><%= __('dîner') %></span>
            </div>
        </span>
    </div>
    <p class="center-block">
        <button type="button" class="upload btn btn-primary btn-lg">
            <%= __('Commencez dès maintenant à télécharger vos photos') %>
            <span class="uploadprogress btn btn-primary btn-lg"></span>
        </button>
    </p>
</div>

<a id="more"></a>

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
